.list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-left: 0;
  max-width: 1000px;
}

.listItem {
  text-align: left;
}

@media (max-width: 768px) {
  .list {
    grid-template-columns: 1fr;
    max-width: 350px;
  }
}
