.layout {
  background-color: white;
  height: 100%;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.menu {
  width: 220px;
}

.content {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
